# K8s configuration file is required to get the public sertificate from Sealed Secrets Controller
export KUBECONFIG=~/.kube/gla-int.config

# The folder name to put sealed
export OUTPUT_DIR=secrets/sealed/integration

# Values for template rendering
export UC4_MINIO__ROOT_PASSWORD=
export UC4_MINIO__ROOT_USER="admin"
export UC4_WORKLOAD__GITHUB_TOKEN=
export UC4_WORKLOAD__GITHUB_USER=
export UC4_WORKLOAD__MINIO_ACCESS_KEY=

#If call from laptop, use address "uc4-minio-api.integration"
export UC4_WORKLOAD__MINIO_ADDRESS="minio.uc4-minio.svc.cluster.local"

export UC4_WORKLOAD__MINIO_SECRETE_KEY=